# Dependencias de Node
frontend/node_modules/
node_modules/
.npm
dist/
dist-ssr/
*.local

# Python & Backend
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
backend/env/
backend/venv/
env/
venv/
ENV/
*.db
backend/*.db
.env
backend/.env

# Editor & Sistema Operativo
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
.DS_Store
Thumbs.db
